    <footer>
        <div class="footer-container row">
            <div class="footer-item">
                <h4>FICA Company</h4>
                Te conectando a um mundo de boas conexões</br>
            </div>
    
            <div class="footer-item">
                <h4>Contatos</h4>
                85 4042-1848</br>
                comercial@ficatelecom.net.br</br>
                Rua Cento e quinze, 37 - Parque Dois Irmãos</br>
            </div>
    
            <div class="footer-item">
                <h4>Para você</h4>
                Planos</br>
                Central do assinante</br>
                App FICA Descomplica</br>
                Faturas</br>
                Trabalhe conosco</br>
            </div>
        </div>
    </footer>

</html>
