<nav class="navbar navbar-dark" style="background-color:#FFF;">
    <a class="navbar-brand" href="/assine_ja">
        <div class="container flex">
            <div class="item container-logo">
                <img src="/image/logo.jpeg" alt="logo" width="60" height="60" class="d-inline-block align-top item"> 
                    <div class="wrapper">
                        <span>Assine já para se conectar</span>
                        <span>com o mundo de boas conexões </span>
                    </div>
            </div>

            <a href="/nossos_produtos" class="item">Nossos Produtos</a>
            <a  class="item">Ofertas</a>
            <a href="/download_app" class="item">Baixe o APP</a>
            <a class="item">Quem somos</a>
        </div>
    </a>
</nav>