<%- include ('./partials/header.ejs') %>

    <body>
        <%- include ('./partials/navbar.ejs') %>

       
        <div class="slideshow-container">
            <div class="slide">
                <img src="/image/1.png" alt="Imagem 1">
            </div>
            <div class="slide">
                <img src="/image/2.png" alt="Imagem 2">
            </div>
            <div class="slide">
                <img src="/image/3.png" alt="Imagem 3">
            </div>
        </div>


       <section class="central-container row">
    
           </div>
            <div class="central-item">
                <img src="/image/c1.jpg" alt="Imagem 1">
            </div>
            <div class="central-item">
                <img src="/image/c2.jpg" alt="Imagem 2">
            </div>
            <div class="central-item">
                <img src="/image/c3.jpg" alt="Imagem 3">
            </div>

       </section>

        <script src="/js/script.js"></script>

    </body>

<%- include ('./partials/foorter.ejs') %>