<%- include ('./partials/header.ejs') %>

    <body>
        <%- include ('./partials/navbar.ejs') %>
        <section class="products-container row">
            <div class="product-item">
                <img src="/image/p1.png" alt="Imagem 1">
            </div>
            <div class="product-item">
                <img src="/image/p2.png" alt="Imagem 2">
            </div>
            <div class="product-item">
                <img src="/image/p3.png" alt="Imagem 3">
            </div>
        </section>
    </body>


<%- include ('./partials/foorter.ejs') %>

