
<%- include ('./partials/header.ejs') %>

    <body>
        <%- include ('./partials/navbar.ejs') %>
        <section class="sign_it-container row">
            <div class="product-item">
                <p>
                    Baixe o aplicativo FICA Descomplica e tenha acesso</br>
                    ao seus boletos, pagamentos via pix e</br>
                    código de barras.
                </p>

                <p>
                    Acesse a central do assinante, para acesso</br>
                    basta acessa com o seu CPF, tenha acesso</br>
                    ao seu financeiro e as diversas formas de</br>
                    pagamento.
                </p>
            </div>
            <div class="product-item buttons">
                <a href="https://play.google.com/store/apps/details?id=br.net.ixc.f1netce" class="btn btn-success btn-style">DOWNLOAD</a>

                <a href="https://ixc.ficatelecom.net.br/central_assinante_web/login" class="btn btn-success btn-style">2° VIA</a>
            </div>
        </section>
    </body>


<%- include ('./partials/foorter.ejs') %>