.footer-container{
    width: 100%;
	display: flex;
	text-align: center;
    font-family: 'DM Sans', sans-serif;
    color: black;
    background-color: chartreuse;
    padding: 2rem;
    margin: 0;
}

.row{
    flex-direction: row;
}

.footer-item{
    flex: 1;
	text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;
}